<table class="table my-table text">
  <thead>
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Offered</th>
      <th scope="col">Offer yourself</th>
      <th scope="col">More detailed</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each_with_index do |comp,i| %>
      <tr class="text-center">
        <th scope="row"><%= i+1 %></th>
        <td><%= comp[:name] %></td>
        <td><%= comp[:choosed] %></td>
        <td><%= button_to "offer", "/main/offer_to_company/#{comp[:id].to_s}.json", remote: true, class: "btn btn-lg wide", disabled: comp[:choosed] == "yes" ? true : false %></td>
        <td><%= button_to "▼", "/main/all_companies/#{comp[:id].to_s}.json", remote: true, class: "btn btn-lg wide", id: "btn"+comp[:id].to_s %></td>
      </tr>
      <tr>
        <td  id=<%= comp[:id].to_s %> colspan="5" hidden="true">
          <ul>
            <li> Vacancy <p></p> </li>
            <li> Requirements <p></p></li>
            <li> Conditions <p></p></li>
          </ul>
          <input type="button" class="btn btn-lg wide roll_up" value="▲" />
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
