<table class="table my-table text">
  <thead>
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">What looking for</th>
      <th scope="col">Accept</th>
      <th scope="col">More detailed</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each_with_index do |stud,i| %>
      <tr class="text-center">
        <th scope="row"><%= i+1 %></th>
        <td><%= stud.fullname %></td>
        <td><%= stud.wish %></td>
        <td><%= button_to "accept", accept_offer_path(stud), remote: true, class: "btn btn-lg wide del_row_if_suc" %></td>
        <td><%= button_to "▼", student_description_path(stud), remote: true, class: "btn btn-lg wide more", id: "btn"+stud[:id].to_s %></td>
      </tr>
      <tr>
        <td  id=<%= stud[:id].to_s %> colspan="5" hidden="true">
          <ul>
            <li> Departament <p></p> </li>
            <li> Group <p></p></li>
            <li>
              <%= button_to "Example of work", files_path(stud), method: :get, class: "btn btn-primary btn-lg" %>
            </li>
          </ul>
          <input type="button" class="btn btn-lg wide roll_up" value="▲" />
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
