<table class="table my-table text">
  <thead>
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Approve an internship at company</th>
      <th scope="col">More detailed</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each_with_index do |comp,i| %>
      <tr class="text-center">
        <th scope="row"><%= i+1 %></th>
        <td><%= comp.name %></td>
        <td><%= button_to "approve", approve_path(comp), remote: true, class: "btn btn-lg wide del_row_if_suc" %></td>
        <td><%= button_to "▼", company_description_path(comp), remote: true, class: "btn btn-lg wide more", id: "btn"+comp[:id].to_s %></td>
      </tr>
      <tr>
        <td  id=<%= comp[:id].to_s %> colspan="4" hidden="true">
          <ul>
            <li> Vacancy <p></p> </li>
            <li> Requirements <p></p></li>
            <li> Conditions <p></p></li>
          </ul>
          <input type="button" class="btn btn-lg wide roll_up" value="▲" />
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
