<!DOCTYPE html>
<html>
  <head>
    <title>FinalWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg my-navbar my-nav">
        <%= link_to image_tag("Gerb_mgtu.png", id: "logo"), root_path %>
        <%= link_to t("Students"), main_students_path, class: "link navbar-item" %>
        <%= link_to t("Companies"), main_companies_path, class: "link navbar-item" %>
        <div class="ml-auto">
          <%= link_to image_tag("language.svg", id: "logo", class: "link login"), {locale: locale == :ru ? :en : :ru} %>
          <% if @_current_user %>
            <%= link_to(@_current_user.login, main_edit_path, class: "link login") %>
            <%= link_to(t("Log out"), session_destroy_path, method: :delete, class: "link login") %>
          <% else %>
            <%= link_to(t("Log in"), session_new_path, class: "login link") %>
          <% end %>
        </div>
      </nav>
    </header>
    <main class="container">
      <%= yield %>
    </main>

  </body>
</html>
